@page {
    size: 210mm 297mm;
    margin: 0;
}
.header{
    background-color: #472345;
   

}
.footer-contato{
    background-color: #472345;
    padding: 5%;
    color: #fff;
}
.footer-contato a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.nav-bar{
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    font-size: 20px;
}
.nav-bar a svg{
    color: #fff;
    margin-top: 5%;
    margin-right: 15%;

}
.nav-bar a {
    margin-right: 5%;
    padding-top: 5%;
    color: #fff;
    text-decoration: none;
}
.nav-bar a:hover{
    color: #fff;
    text-decoration: none;
}
.header img{
    width: 30%;
}

.unique{
    background-color: #472345;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 30%;
    color: #fff;
}
.unique h3{
    margin-bottom: 5%;
    font-size: 50px;
    font-family: gotham;
}
.shop {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    background-color: #472345;
}
.shop h3{
    color: #fff;
    font-size: 30px;
}
.shop select{
    font-size: 20px;
}
.form-submit{
    padding: 10%;
}
.images{
    display: flex;
    flex-direction: row;
}
.images img{
    width: 100%;
}
.image-description{
    padding: 10%;
}
.image-description img{
    width: 100%;
    
}
.description{
     padding-top: 15%;
}
.image {
    padding: 5%;
    align-items: center;
}
@media only screen and (max-width: 450px){
    .images{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    .image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .images img{
       
        width: 50%;
    }
}
.add{
   border: inherit;
   border-radius: 10px;
    font-size: 15px;
    background-color: #472345;
    color: #fff;
    padding: 10px;
}
.list-sideBar{
    background-color: #472345;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
  overflow: auto;
}
.list-sideBar ul a li{
    color: #fff;
    list-style-type: none;
}
.list-sideBar  a  {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    

}
.list-sideBar li{
    padding: 10%;
}
.list-sideBar a li:hover:not(.active){
    color: #472345;
    list-style-type: none;
    text-decoration: none;
    background: #fff;
    font-size: 20px;
    text-align: center;

}
.list-sideBar a:hover{
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    background: #472345;

}
.table-products {

  border-spacing: 0;
  width: 100%;
  
  
    


}
.cesta{

    border-spacing: 0;
    width: 100%;
    
    padding: 5%;
      
  
  
  }
  .checkoutInput p{
    
    font-size: 15px;
   
}
  .checkoutInput input{
      border: inherit;
      font-size: 15px;
      border-radius: 10px;
      margin-bottom: 5%;
     
  }
  .title-table{
      font-size: 20px;
  }
  .content-table{
    font-size: 15px;
}
.content-table input{
    border-radius: 5px;
    border: inherit;
}
.final{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.button{
    display: flex;
    justify-content: flex-end;
    
   
}
.button button{
    /* background-color: #472345 !important; */
    border-color: inherit !important;
    font-size: 15px;
}
.detail-requests{
    padding: 5%;
}
.status-request{
    color: blue;
}
.table-products td, th{
    text-align: left;
    padding: 16px;
}
tr:nth-child(even) {
    background-color: #ecd5eb;
    
  }

.list-products a button{
    background: green;
    border: inherit;
    color: #fff;
    padding: 1%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 2%;

   

}
.title-planilha{
    background-color: #472345;
    color: #fff;
    font-size: 15px;
}
.shop-list ul{
   
    list-style: none;
    max-height:380px;
     width:500px;
     overflow-y:auto;
     padding:5px;
     background-color:#ccc;
 
     
}
.shop-list ul li {
   
    list-style-type: none;
    

}
.shop-list ul> a li {
    height:80px;
    margin-bottom:5px;
    width:100%;
    background-color:#888;
}
.shop-list ul::-webkit-scrollbar{
    display: none;

}
.request-list ul{
   
    list-style: none;
    max-height:450px;
     width:100%;
     overflow-y:auto;
     padding:5px;
     background-color:#fff;
 
     
}
.request-list ul  li {
   
    list-style-type: none;
    padding-left: 5%;
    color: #000;
    text-decoration: none;
    
    

}
.request-list ul a {
   
    
    text-decoration: none;
    
    

}
.request-list ul a:hover {
   
    
    text-decoration: none;
    
    

}
.request-list ul> a li {
    height:100px;
    margin-bottom:5px;
    width:100%;
    text-decoration-style: none;
    background-color:#ecd5eb;
}
.request-list ul::-webkit-scrollbar{
    display: none;

}
.form-dados{
    display: flex;
    flex-direction: column ;
   
    
}

.style{
    text-align: center;
    color: red;
    padding: 10%;
    
}
.ass{
    align-items: center;
}
.form-createProducts h2{
  text-align: center;
  padding-top: 5%;
   width: 100%;
   font-size: 30px;
}
.form-product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
}
.button-submit{
    margin-top: 3%;
}
.preview-images img{
    max-width: 20%;
   
}
.preview-images {
    max-width: 20%;
   
}
.button-delete a button{
  margin-left: 10%;
}   

/* .../public/uploads/<%= data.img %> */
.request{
    width: 100%;
    
}
.artigos{
    padding-top: 5%;
}
.vitrine{
    align-items: center;
   
    
}
.vitrine-inteira{
    padding: 5%;
   
}
.button-pagamento{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-end;

}
.button-pagamento a button{
    font-size: 20px;
    
}
.apresentacao{
    background-color: #000;
    padding: 10%;
    text-align: center;
    color: #fff;
}
.apresentacao h2{
   font-size: 50px;
}
.apresentacao p{
    font-size: 30px;
 }
.apresentacao a button{
    background-color: #472345;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin: 5%;
    color: #fff;
    padding: 2%;
}
.apresentacao a:hover button{
    background-color: #472345;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin: 5%;
    color: #fff;
}
.Blog{
    background-color: black;
    
}
.Blog h3 a {
    color: #fff;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
.Blog h3 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
.Blog h3 a:hover {
    color: #fff;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
.card-home{
    padding: 5%;
    align-items: center;
}
.menu{
    background-color: #000;
    width: 100%;
}
.title{
    text-align: center;
    padding: 5%;
    font-size: 20px;
    background-color: #000;
    color: #fff;

}
.title h3{
    font-size: 40px;
}
.title p{
    font-size: 30px;
    
}
.title select{
    color: #472345;
    border-radius: 20px;
}
.title button{
    background-color: #472345;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin: 2%;
    color: #fff;
    padding: 2%;
}
.image-title{
    padding: 20rem 5rem;
    background: url('../images/drinks-funcionais.jpeg') no-repeat; 
    background-size: 100%;
    
   
}
.image-title h2{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.image-title p{
    text-align: center;
    color: #fff;
    font-size: 15px;
}
@media only screen and (max-width: 600px) {
    .image-title{
       
        background: url('../images/drinks-funcionais.jpeg') no-repeat;
        text-align: center;
       
        padding: 5rem 5rem;

    }
    .image-title h2{
       
        
        text-align: center;
        font-size: 25px;
       

    }
}
.image-artigo img{
    padding: 15rem 5rem;
   
    background-size: 100%;
    
   
}
.card-columns{
    column-count: 1;
}
.image-artigo h2{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.image-artigo p{
    text-align: center;
    color: #fff;
    font-size: 15px;
}
@media only screen and (max-width: 600px) {
    .image-artigo{
       
        background: url('../images/drinks-funcionais.jpeg') no-repeat;
        text-align: center;
       
        padding: 5rem 5rem;

    }
    .image-artigo h2{
       
        
        text-align: center;
        font-size: 25px;
       

    }
}
.artigo{
    padding: 5%;
    font-size: 15px;
}
.img{
    padding: 0%;
}
.form-checkout{
    background-color: #ecd5eb !important;
    text-align: center;
    padding: 3%;
    margin-top: 5%;
    
    
}
.form-checkout h3{
    font-size: 30px;
    padding: 1%;    
}
.form-resumo{
   
    text-align: center;
    padding: 3%;
    
    
}
.form-resumo h3{
    font-size: 30px;
    padding: 3%;    
}
.total{
    padding: 5%;
}
.button-ml button{
  
   font-size: 15px !important;
   background-color: #472345 !important;
   text-align: center !important;
}
