<%- contentFor('body') %>
       
        <div class="image-artigo" style=" background: url('./uploads/<%= data.img %>') no-repeat; padding: 15rem 5rem; background-size: 100%;">
   
    <h2><%= data.title %></h2>
    <p><%= data.subtitle %></p>
</div>

   
<div class="container">
    <div class="row">
       
      
        <div class="col-md-12 artigo">
            
            <p>
                <%= data.text %>
            </p>
                 
             
                       
                          
                           
                             
                     

             
                   
            
                
            
                
    
                
            
            
    
        
        </div>
    </div>
</div>
<div class="title">
    <h3>Deseja receber itens para drinks em sua casa?</h3>
    <p> Não fique sem seus deliciosos drinks!</p>
    <button>Conheça nossos planos</button>
   </div>

<script type="text/javascript">
    
    $('#tipo').change(function(){
        var type = document.getElementById("tipo").value;
        console.log(type)
        window.location.href = "/shop/"+ type;
        
            
        
    });
  
       
            
    
    
        
    </script> 



