<%- contentFor('body') %>
<div class="container">
    <div class="col-md-12 cesta">
       
            <table class="table-products">
                <form action="/cesta" method="post">
                    <tr class='title-table'>
                    
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Preço unitário</th>
                        <th>Preço final</th>
                        
                        
                        
                        
                    </tr>
                        <% if(produto){ %> 
                        <% produto.map(product =>{ %>
                        
                        
                                <tr class='content-table'>
                                    <th><%= product.name %></th>
                                    <th><%= product.quantidade %></th>
                                    <th>R$ <%= product.price %></input> </th>
        
                                    
                                    <th><%= product.priceTotal %></th>
                                    
                                     
                                    
 
                                </tr>
                                
                                
                               
                            
                        <%}) %>
                        <% } %>
                        
                
                </form>
            
            </table>

        
       
        <div class="final">
            <div class="col-md-6">
                <h2 style="font-size: 30px;">Total: R$ <%= lastPrice %></h2>
            </div>
            <div class="col-md-6 button">
                <a href="/checkout"><button class="btn btn-primary">Finalizar a compra </button></a>

            </div>
        </div>
        
    </div>

   
</div>