<%- contentFor('body') %>
<script src="https://sdk.mercadopago.com/js/v2"></script>
   <form action="/pagamento" method="POST">
    <% data.map(customer => { %>
       
  
    <div class="container  ">
        
            <div class="col-md-6 form-checkout"> 
                <h3>Preencha com dados para entrega</h3>
                <div class="col-md-12 form-itens">
                    <div class="col-md-6 checkoutInput">
                        <p>Nome</p>
                        <input name="customerName" type="text" value="<%= customer.name %>" required>
                    </div>
                    <div class="col-md-6 checkoutInput">
                        <p>Sobrenome</p>
                        <input name="customerSobrenome" type="text" required>
                    </div>
                </div>
                <div class="col-md-12 form-itens">
                    <div class="col-md-6 checkoutInput">
                        <p>E-mail</p>
                        <input name="customerEmail" type="email" value="<%= customer.email %>" required>
                    </div>
                    <div class="col-md-6 checkoutInput">
                        <p>Telefone :  </p>
                        <input name="customerTelphone" type="telphone" id="telphone" value="<%= customer.telphone %>" required>
                    </div>
                    
                


                    
                </div>
                <div class="col-md-12 form-itens">
                    <div class="col-md-6 checkoutInput">
                        <p>CEP</p>
                        <input name="customerCep" type="text" required>
                    </div>
                    <div class="col-md-6 checkoutInput">
                        <p>Endereço</p>
                        <input name="customerEndereco" type="text" required> 
                    </div>
                </div>
                <div class="col-md-12 form-itens">
                    
                    <div class=" col-md-6 checkoutInput">
                        <p>Bairro</p>
                        <input name="customerBairro" type="text" required>
                    </div>
                    <div class="col-md-6 checkoutInput">
                        <p>Número</p>
                        <input name="customerNumero" type="number"  id="" required> 
                    </div>
                    
                    
                </div>
                <div class="col-md-12 form-itens">
                    <div class="col-md-6 checkoutInput">
                        <p>Estado</p>
                        <input type="text" name="customerEstado" required>
                    </div>
                    <div class="col-md-6 checkoutInput">
                        <p>Cidade</p>
                        <input type="text" name="customerCidade" required>
                    </div>
                    
                    
                </div>

            
            </div>
        

        <% }) %> 

        <div class="col-md-6 form-resumo">
            <h3>Resumo do pedido</h3>
            <table class="table-products">
                <tr>
                
                    <th>Nome</th>
                    <th>Quantidade em estoque</th>
                    <th>Preço unitário</th>
                </tr>
                
                    <% produto.map(product =>{ %>
                       
                    
                            <tr>
                                <th><%= product.name %></th>
                                <th><%= product.quantity %></th>
                                <th>R$ <%= product.price %></th>
                               
    
                            </tr>
                        
                    <%}) %>
                    
    
                
            
            </table>
            <div class="total"><h2>Total: R$ <%= lastPrice %></h2></div>
        </div>
        <div class="col-md-12 button-pagamento">
            <a href="/pagamento"><button id="pagamento" class="btn btn-success button-pagamento">Pagamento</button></a>
        </div>
    </div>
    
</form>


  <script type="text/javascript">
   
    $(document).ready(function(){
      $('#telphone').mask('(00) 90000-0000');
      });


    
   
  </script>
  
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
    // Adicione as credenciais do SDK
      const mp = new MercadoPago('APP_USR-6876c50b-dff1-4ab6-864a-a0ae7ecdff14', {
            locale: 'es-AR'
      });
    
      // Inicialize o checkout
      mp.checkout({
          preference: {
              id: 'pagamento'
          },
          render: {
                container: '.cho-container', // Indica onde o botão de pagamento será exibido
                label: 'Pagar', // Muda o texto do botão de pagamento (opcional)
          }
    });
    </script> 