<%- contentFor('body') %>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./images/drinks.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./images/drinks.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./images/drinks.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="apresentacao">
    <h2>Conheça a Adega Eva</h2>
    <p>Modernidade, requinte e bom gosto </p>
    <a href="/shop"><button>Faça seu pedido</button></a>
  </div>
 
  <div class="Blog">
     <div class="row">
       <div class="container">
         <div class="col-md-12 ">
          <h3><a href="/novidades">Novidades</a></h3>
           <div class="card-columns">
                <% if(blog){ %> 
                  
                  <% blog.map(artigo =>{ %>
                   
                    <div class="col-md-4 card-home">
                      <div class="card" style=" width: 30rem;">
                        <img src="./uploads/<%= artigo.img %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= artigo.title %></h5>
                          <p class="card-text  mb-2 "><%= artigo.subtitle %></p>
                          <a href="/novidades/<%= artigo._id %>" class="btn btn-primary">Ler mais</a>
                        </div>
                      </div>
                    </div>
                
                <%})%>
                <% }%>
          
              </div>
            </div>
          </div>
            
          

       
        </div>
 
    

</div>