<%- contentFor('body') %>
<div class="image-title">
    <h2>Novidades</h2>
</div>

   
<div class="container">
    <div class="row">
       
      
        <div class="col-md-12 vitrine-inteira">
            
  
                 
             
                        <% data.map(artigo=>{ %>
                          <div class="card mb-3 card-home" style="max-width: 100%;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="./uploads/<%= artigo.img %>" style="max-width: 350px;"alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title"><%= artigo.title %></h5>
                                  <p class="card-text"><%= artigo.subtitle %></p>
                                  <a href="/novidades/<%= artigo._id %>" class="btn btn-primary">Ler mais</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                           
                  
                       
                        
                    <%})%>

             
                   
            
                
            
                
    
                
            
            
    
        
        </div>
    </div>
</div>
<div class="title">
    <h3>Deseja receber itens para drinks em sua casa?</h3>
    <p> Não fique sem seus deliciosos drinks!</p>
    <button>Conheça nossos planos</button>
   </div>

<script type="text/javascript">
    
    $('#tipo').change(function(){
        var type = document.getElementById("tipo").value;
        console.log(type)
        window.location.href = "/shop/"+ type;
        
            
        
    });
  
       
            
    
    
        
    </script> 



