<script src="https://sdk.mercadopago.com/js/v2"></script>

<div class="container  ">
        
      <div class="col-md-12 form-checkout"> 
          <h3>Confirme os Dados:</h3>
          <div class="col-md-12 form-dados">
              <div class="checkoutInput">
                  <h4>Nome do cliente</h4>
                  <p><%= data.name_customer %></p>
              </div>
            
             
          </div>
          <div class="col-md-12 form-dados">
              <div class="checkoutInput">
                  <h4>E-mail</h4>
                  <p><%= data.email_customer %></p>
              </div>
              <div class="checkoutInput">
                  <h4>Telefone :  </h4>
                  <p><%= data.tel_customer %></p>
              </div>
              
          


              
          </div>
          <div class="col-md-12 form-dados">
              <div class="checkoutInput">
                  <h4>CEP</h4>
                  <p><%= data.cep_customer %></p>
              </div>
              <div class=" checkoutInput">
                  <h4>Endereço</h4>
                  <p><%= data.address_customer %></p>
              </div>
          </div>
          <div class="col-md-12 form-itens">
              
              
              <div class="checkoutInput">
                  <h4>Número</h4>
                  <p><%= data.number_customer %></p>
              </div>
              <div class="button-ml cho-container">
      
            </div>
              
              
          </div>
         

      
      </div>
  



 
  
</div>


<% console.log(data ) %>
<script>
    // Adicione as credenciais do SDK
      const mp = new MercadoPago('APP_USR-6876c50b-dff1-4ab6-864a-a0ae7ecdff14', {
            locale: 'es-AR'
      });
    console.log('<%= reference %>')
      // Inicialize o checkout
      mp.checkout({
          preference: {
              id: '<%= reference %>'
          },
          render: {
                container: '.cho-container', // Indica onde o botão de pagamento será exibido
                label: 'Pagar', // Muda o texto do botão de pagamento (opcional)
          }
    });
    </script>