<%- contentFor('body') %>
<div class="row">
    <div class="col-md-12">
    
      <form action="/<%= data._id %>" method="POST">
       
        <div class="col-md-6 image-description">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./uploads/<%= data.img %>" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./uploads/<%= data.img %>" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./uploads/<%= data.img %>" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col-md-6 description">
            <h2 id="NomeProduto"><%= data.name %> </h2>
            <p ><%= data.description %></p>
            <h4 class="price"> R$ <%= data.price %></h4>
            <input type="number" name="quantidade" max="<%= data.quantity %>">
            <button class="btn btn-primary">Adicionar a cestinha</button>
           
        </div>
     
       
      </div>
    </form>
    
</div>
