<%- contentFor('body') %>
<div class="title">
   <p>O que seu drink precisa?</p>
    <select name="tipo" id="tipo" >
    <option value="Bebidas">Bebidas</option>
    <option value="Gin">Gin</option>
    <option value="Vodka">Vodkas</option>
    <option value="Utensilios">Utensílios</option>
    <option value="easydrinks">Easy Drinks</option>
    <option value="temperos">Temperos para drinks</option>
    <option value="kits">Kits</option>




</select></div>

   
<div class="container">
    <div class="row">
       
      
        <div class="col-md-12 vitrine-inteira">
            
  
                 
             
                        <% data.map(product =>{ %>
                          
                            <a href="/<%= product._id %>"><div class="col-md-4 card vitrine  " style="width: 42rem; height: 40rem; "
                            onmouseover="this.style.transform = 'translateY(-10px)'"
                            onmouseout="this.style.transform = 'translateY(0px)'"">
                            <img src="./uploads/<%= product.img %>" style="width: 300px;">
                            <h2><%= product.name %></h2>
                            <p><%= product.description %></p>
                            <h3>R$ <%= product.price %></h3>
                        </div></a>
                        
                    <%})%>

             
                   
            
                
            
                
    
                
            
            
    
        
        </div>
    </div>
</div>
<div class="title">
    <h3>Deseja receber itens para drinks em sua casa?</h3>
    <p> Não fique sem seus deliciosos drinks!</p>
    <button>Conheça nossos planos</button>
   </div>

<script type="text/javascript">
    
    $('#tipo').change(function(){
        var type = document.getElementById("tipo").value;
        console.log(type)
        window.location.href = "/shop/"+ type;
        
            
        
    });
  
       
            
    
    
        
    </script> 




