<%- contentFor('body') %>
<div class="unique">
    <h3>Erro ao realizar o cadastro</h3>
    <h4>Verifique se os campos foram preenchidos corretamente</h4>
    
    
    
</div>
<script>
    setTimeout(function() {
        window.location.href = "/submit";
    }, 2000);
</script>