<%- contentFor('body') %>
<div class="container">
    <div class="row">
        <form action="/login" method="post" id="create_form" class="form-submit" >
            
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Qual é o seu email?">
              </div>
              <div class="mb-3 ">
                <label for="inputPassword" class="form-label">Senha</label>
                
                <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha">
                
              </div>
              <button type="login" class="btn btn-dark">Login</button>
              
        </form>
    </div>
</div>
