<%- contentFor('body') %>
<div class="row">
  <div class="container">
    <div class=" col-md-12 form-createProducts">
        <h2>Cadastro de produto</h2>
        <div class="preview-images"></div>
        <form action="/create-product" method="POST" enctype="multipart/form-data" class="form-product">
           
            <h3>Imagem do produto:</h3>
            <input type="file" name="filename" id="input-files"
            class="form-control-file border">
            <h4>Nome do Produto</h4>
            <input type="text" id="name" name="name">
            <h4>Descrição</h4>
            <input type="text" name="description">
            <h4>Preço</h4>
            <input type="number" name="price">
            <h4>Quantidade disponível</h4>
            <input type="number" name="quantity">
            <h4>Tipo de produto</h4>
            <select name="tipo" id="tipo" >
              <option value="Bebidas">Bebidas</option>
              <option value="Gin">Gin</option>
              <option value="Vodka">Vodkas</option>
              <option value="Utensilios">Utensílios</option>
              <option value="easydrinks">Easy Drinks</option>
              <option value="temperos">Temperos para drinks</option>
              <option value="kits">Kits</option>
          
          
          
          
          </select>
            
            <button type="submit" class="btn btn-primary button-submit">Cadastrar</button>
        </form>
    </div> 
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script>
    $(document).ready(function() {
      let imagesPreview = function(input, placeToInsertImagePreview) {
        if (input.files) {
          let filesAmount = input.files.length;
          for (i = 0; i < filesAmount; i++) {
            let reader = new FileReader();
            reader.onload = function(event) {
              $($.parseHTML("<img>"))
                .attr("src", event.target.result)
                .appendTo(placeToInsertImagePreview);
            };
            reader.readAsDataURL(input.files[i]);
          }
        }
      };
      $("#input-files").on("change", function() {
        imagesPreview(this, "div.preview-images");
      });
    });
  </script>
