<%- contentFor('body') %>

<div class="container">
    <div class="row">
        <form action="/clientes" method="post" id="create_form" class="form-submit" novalidate>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="name" class="form-control" name="name" id="name" placeholder="Qual é o seu nome?">
              </div>
              
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                <input type="telphone" class="form-control"  name="telphone" id="telphone" placeholder="Qual é o seu telefone?">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Qual é o seu email?">
              </div>
              <div class="mb-3 ">
                <label for="inputPassword" class="form-label">Senha</label>
                
                <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha">
                
              </div>
              <div class="mb-3 ">
                <label for="inputPassword" class="form-label">Confirme a senha</label>
                
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Digite sua senha">
                
              </div>
              <button type="submit" class="btn btn-dark">Cadastrar</button>
              
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

  <script type="text/javascript">
   
    $(document).ready(function(){
      $('#telphone').mask('(00) 90000-0000');
      });

    
   
  </script>
