<%- contentFor('body') %>
<div class="row">
    <div class=" col-md-12 form-createProducts button-delete">
        <h2>Perfil do Admin</h2>
        <a href="/admin/<%= data._id %>/delete"><button type="submit" class="btn btn-danger ">Excluir</button></a>
        <form action="/admin/<%= data._id %>/edit" method="POST" class="form-product">
            
        
            <h4>Nome do Admin</h4>
            <input type="text" name="name" value="<%= data.name %>">
            <h4>Email do admin</h4>
            <input type="text" name="email"  value="<%= data.email %>">
            <h4>Senha</h4>
            <input type="text" name="senha" value="">
            
            
            <button type="submit" class="btn btn-warning button-submit">Editar</button>

        </form>
      
      
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
