<%- contentFor('body') %>
<div class="row">
    <div class=" col-md-2">
        <%- include(page) %>
    </div>
    <div class="col-md-10 list-products">
        <a href="/create-admin"><button class="create-button" >
            Adicionar Admin
        </button></a>
        <table class="table-products">
            <tr class="title-planilha">
            
                <th>Nome</th>
                <th>E-mail</th>
                
            </tr>
            
                <% data.map(customer =>{ %>
                        <tr>
                            <th><a href="/admin/<%= customer._id %>"><%= customer.name %></a></th>
                            <th><%= customer.email %></th>
                        
                        </tr>
                    
                <%}) %>
                

            
        
        </table>
    </div>

</div>