<%- contentFor('body') %>
<div class="row">
    <div class=" col-md-2">
        <%- include(page) %>
    </div>
    <div class="col-md-10 list-products">
       
        <a href="/create-blog"><button class="create-button">
            Novo Artigo
        </button></a>
        <table class="table-products">
            <tr class="title-planilha">
              
                <th>Título</th>
                <th>Data de publicação</th>
                
            </tr>
            
                <% data.map(product =>{ %>
                    
                    
                     <tr>
                        <th><a href="/blog/<%=product._id %>"><%= product.title %></a></th>
                            <th><%= product.created %></th>
                            
                        </tr>
                    
                <%}) %>
                

            
           
        </table>
        
    </div>
</div>
