<%- contentFor('body') %>
<div class="row">
    <div class=" col-md-2">
        <%- include(page) %>
    </div>
    <div class="col-md-10 list-products">
       
        <a href="/create-product"><button class="create-button">
            Novo Produto
        </button></a>
        <table class="table-products">
            <tr class="title-planilha">
              
                <th>Nome</th>
                <th>Quantidade em estoque</th>
                <th>Preço unitário</th>
            </tr>
            
                <% data.map(product =>{ %>
                    
                    
                     <tr>
                        <th><a href="/produtos/<%=product._id %>"><%= product.name %></a></th>
                            <th><%= product.quantity %></th>
                            <th>R$ <%= product.price %></th>
                        </tr>
                    
                <%}) %>
                

            
           
        </table>
        
    </div>
</div>
