<%- contentFor('body') %>
<div class="row">
    <div class=" col-md-2">
        <%- include(page) %>
        
        
    </div>
    <div class="col-md-10">
        <div class="request">
   
            <h2>Pedidos Finalizados: </h2>
          
            <div class="request-list" >
                <ul> 
                
                <% data.map(product =>{ %>
                   
                   
                   <a href="/request/<%= product._id %>"> <li>
                        <h2>Nome do cliente: <%= product.name_customer %></h2>
                        <h3>Telefone: <%= product.tel_customer %></h3>
                        <h3> <b>Status: </b> <%= product.status %></h3>
                    </li></a>

                <% }) %>
            </ul>
              
             
            </div>
            
          


        </div>
        

        
        


    </div>
    </div>
</div>
