<%- contentFor('body') %>
<div class="row">
    <div class=" col-md-12 form-createProducts button-delete">
        <h2>Cadastro de produto</h2>
        <a href="/produtos/<%= data._id %>/delete"><button type="submit" class="btn btn-danger ">Excluir</button></a>
        <form action="/produtos/<%= data._id %>/edit" method="POST" class="form-product">
            <img src="./uploads/<%= data.img %>" alt="" class="preview-images">
        
            <h4>Nome do Produto</h4>
            <input type="text" name="name" value="<%= data.name %>">
            <h4>Descrição</h4>
            <input type="text" name="description"  value="<%= data.description %>">
            <h4>Preço</h4>
            <input type="number" name="price" value="<%= data.price %>">
            <h4>Quantidade disponível</h4>
            <input type="number" name="quantity" value="<%= data.quantity %>">
            <h4>Tipo de produto</h4>
            <select name="tipo" id="tipo">
                <option value="<%= data.type %>"><%= data.type %></option>
              <option value="Bebidas">Bebidas</option>
              <option value="Gin">Gin</option>
              <option value="Vodka">Vodkas</option>
              <option value="Utensilios">Utensílios</option>
              <option value="easydrinks">Easy Drinks</option>
              <option value="temperos">Temperos para drinks</option>
              <option value="kits">Kits</option>
          
          
          
          
          </select>
            
            <button type="submit" class="btn btn-warning button-submit">Editar</button>

        </form>
      
      
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
