<%- contentFor('body') %>
<div class="row">
  <div class="container">
    <div class=" col-md-12 form-createProducts">
        <h2>Cadastro de Artigo</h2>
        <div class="preview-images"></div>
        <form action="/create-blog" method="POST" enctype="multipart/form-data" class="form-product">
           
            <h3>Imagem :</h3>
            <input type="file" name="filename" id="input-files"
            class="form-control-file border">
            <h4>Título</h4>
            <input type="text" id="titulo" name="titulo">
            <h4>Subtítulo</h4>
            <textarea type="text" name="subtitulo"></textarea>
            <h4>Texto</h4>
            <textarea type="text" name="texto"></textarea>
            
            
            <button type="submit" class="btn btn-primary button-submit">Publicar</button>
        </form>
    </div> 
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

