<%- contentFor('body') %>
<div class="row">
     
    <div class="col-md-12">
        <div class="detail-requests">
            <h3> Status: <span class="status-request"><%= data.status %></h3></span>
            <h2>Nome do cliente:<b> <%= data.name_customer %></b></h2>
            <h3>Telefone do cliente: <%= data.tel_customer %></h3>
            <h3>E-mail do cliente: <%= data.email_customer %></h3>
            <h3>Endereço: <%= data.address_customer %></h3>
            <h3>Número: <%= data.number_customer %></h3>
            <h3>CEP: <%= data.cep_customer %></h3>
            <div class=" shop-list" >
                <ul>
                
                
                   
                   
                   <li>
                      <h1> Pedido:</h1>
                       <% pedido.map(item => { %>
                        <h2>Nome do produto: <%= item.name %></h2>
                        <h2>Quantidade do pedido: <%= item.quantidade %></h2>
                        <h2>Quantidade em estoque: <%= item.quantity %></h2>
                        <h2>Preço do pedido TOTAL: <%= item.priceTotal %></h2>
                        <h2>Preço do item: <%= item.price %></h2>




                        <% }) %>
                    </li>

               
            </ul>
              
             
            </div>
            <% console.log(data.status == "Pagamento confirmado") %>
            <% if (data.status == "Novo"){ %>
                <h4>Atualizar Status</h4>
                <a href="/request/<%=data._id %>/atualizarPagamento"><button class="btn btn-primary">Pagamento Confirmado </button></a>
                
               
            <% } else if (data.status == "Pagamento confirmado"){ %> 
                <a href="/request/<%=data._id %>/emseparacao"><button class="btn btn-warning">Em separação </button></a>
               
            <%} else if(data.status == "Em separação"){ %>
                <a href="/request/<%=data._id %>/enviado"> <button class="btn btn-success">Enviado </button> </a>
                <!-- <a href="/request/<%=data._id %>/falarCliente"><button class="btn btn-danger">Falando com o cliente </button></a> -->
                
        <%} else if(data.status == "Enviado"){ %>
                <a href="/request/<%=data._id %>/finalizar"><button class="btn btn-danger">Finalizar </button></a>


               
    
                    <% } %>
               
           
           
            

            








          
            
           
          


        </div>
        

        
        


    </div>
    </div>
</div>
