
        <ul class=" list-sideBar">
            <a href="/dashboard"><li class="li">Dashboard</li></a>
            <a href="/adminblog"><li class="li">Blog</li></a>

            <a href="/produtos"><li class="li">Produtos</li></a>
            <a href="/requests"><li class="li">Pedidos</li></a>
            <a href="/finalizados"><li class="li">Pedidos Finalizados</li></a>

            <a href="/admin"><li class="li">Administradores</li></a>


        </ul>
     